<!doctype html>
<html>

<head>
    <title>Search Link</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body class="pagebody">


    

    <form action="/search_link" method="POST" enctype="multipart/form-data">
        

        <div class="box">
     

        <h1 class="title">Provide links to search</h1>
        <p> Choose one of the following:
        <br>
        1. clicking choose file to upload link.txt 
        <br>
        2. Directly paste link in text area,split by new line </p>
        <label for="linktxt"><b>Upload Link here:<b> </label>
        <br>
        <input type="file" name="linktxt">       
        <br><br>
        <label for="linkarea"> <b>Or Paste Link here:</b> </label>
        <br><br>
        <textarea name="linkarea" id="linkarea" cols="50" rows="10"></textarea>
        <br><br>
        <label for="stimeout">Search Timeout: </label>
        <input id="stimeout" type="number" name="stimeout" value="30"  min="10" />

        </div>
        
        <div class="submitdiv">
        <input type="submit" value="Search!">
        </div>


    </form>

    {% for message in get_flashed_messages() %}
    <p style="color:red">{{ message }}</p>
    {% endfor %}
    <br>

</body>

</html>